
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}

.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

.container div.content {
  grid-area: content;
  background-color: white;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.container div.skills{
    display: flex;
    justify-content: space-evenly;
}

.downloadbutton{
    position: absolute;
  top: 800px;
  left: 10;
  background-color: pink;
  
}

.content-projects{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.project-title{
    grid-row:1;
    grid-column:1;
}
.project-about{
    grid-row:2;
    grid-column:1;
}
.img{
    grid-row:1 /span 2;
    grid-column:2
}
.project-title2{
    grid-row:3;
    grid-column:1;
}
.project-about2{
    grid-row:4;
    grid-column:1;
}
.img2{
    grid-row:3 / span 2;
    grid-column:2
}


.summary-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.profile-picture{
    grid-row:1 /span 2;
    grid-column:2;
    
    align-content: end;

}

.summary-text{
    grid-row:2;
    grid-column:1;
    
}

.summary-title{
    grid-row:1;
    grid-column: 1;
    
}

.about-me-video{
    grid-row:2;
    grid-column:1;
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}

.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
  font-size: xx-large;
}

.container div.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

.container div.content {
  grid-area: content;
  background-color: white;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.container div.skills{
    display: flex;
    justify-content: space-evenly;
}

.downloadbutton{
    position: absolute;
  top: 800px;
  left: 10;
  background-color: pink;
  
}

.content-projects{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.project-title{
    grid-row:1;
    grid-column:1;
}
.project-about{
    grid-row:2;
    grid-column:1;
}
.img{
    grid-row:1 /span 2;
    grid-column:2
}
.project-title2{
    grid-row:3;
    grid-column:1;
}
.project-about2{
    grid-row:4;
    grid-column:1;
}
.img2{
    grid-row:3 / span 2;
    grid-column:2
}


.summary-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.profile-picture{
    grid-row:1 /span 2;
    grid-column:2;
    
    align-content: end;

}

.summary-text{
    grid-row:2;
    grid-column:1;
    
}

.summary-title{
    grid-row:1;
    grid-column: 1;
    
}

.about-me-video{
    grid-row:2;
    grid-column:1;
}
