/* loading spinner */

    .spinner{
        position : fixed;
        inset: 0;
        width : 100%;
        height: 100%;
        display: grid;
        place-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        

    }

    .spinner svg{
        animation: rotate 2s linear infinite;
        width: 200px;
        height: 200px;

    }

    .spinner circle{
        animation: 
            color 6s linear infinite,
            dash 1.5s ease-in-out infinite;
            fill: none;
        stroke: dodgerblue;
        stroke-width: 3px;
        stroke-linecap: round;
    }


    @keyframes rotate{
        from{
            transform: rotate(0deg);

        }
        to{
            transform: rotate(360deg);

        }
    }


    @keyframes color{
        100%, 0%{
            stroke: lightblue;

        }
        25%{
            stroke: lightpink;
        }
        50%{
            stroke: lightgreen;
        }
        75%{
            stroke: lightcoral;
        }
    }


    @keyframes dash{
        0%{
            stroke-dasharray: 1px, 200px;
            stroke-dashoffset: 0;
        }
        50%{
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -15px;
        }
        100%{
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -120px;
        }
    }

/* Containers */
    .container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: #1F4529;
    padding: 5px;
    }

    .container div {
    background-color: #E8ECD7;
    padding: 10px;
    }

        .container div.header {
        grid-area: header;
        text-align: center;
        position: fixed;
        outline-color: #1F4529;
        outline-width: 5px;
        outline-style: solid;
        width: 100%;
        top: 0;
        color: #47663B;
        z-index: 2;
        }
            

        .container div.menu {
        grid-area: menu;
        display: flex;
        margin-top: 86px;
        margin-bottom: 86px;
        flex-direction: column;
        align-items: center;
        color: #47663B;
        /* max-width: 200px; */
        }
            .nb-education,
            .nb-skills,
            .nb-projects,
            .nb-contact,
            .nb-summary,
            .nb-video 
            {
                flex-grow:1;
            }

        .container div.content {
        margin-top: 86px;
        margin-bottom: 86px;
        grid-area: content;
        display: flex;
        flex-direction: column;
        background-color: #E8ECD7;
        color: #47663B;
        }
            .downloadbutton{
                position: absolute;
                padding: 15px 25px;
                border-radius: 6px;
                box-shadow: 10px 10px 5px lightblue;
                background-color: pink;
            }

            .downloadbutton:hover {
                background-color: lightpink;
                box-shadow: 12px 12px 6px lightblue;
            }

            .summary-content{
                display: grid;
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr;
                gap: 20px;
                margin-bottom: 20px;
                font-size: large;
                flex-shrink: 1;
            }

            .profile-picture{
                grid-row:1 /span 3;
                grid-column:2;
                align-content: end;
            }

            .summary-text{
                grid-row:2;
                grid-column:1;
            }

            .summary-title{
                grid-row:1;
                grid-column: 1;
            }

            .about-me-video{
                grid-row:3;
                grid-column:1;
                z-index:1;
            }

            .content-projects{
                display:grid;
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr 1fr;
                flex-shrink: 1;
                z-index: 1;
            }
            .project-title{
                grid-row:1;
                grid-column:1;
            }
            .project-about{
                grid-row:2;
                grid-column:1;
            }
            .img{
                grid-row:1 /span 2;
                grid-column:2
            }
            .project-title2{
                grid-row:3;
                grid-column:1;
            }
            .project-about2{
                grid-row:4;
                grid-column:1;
            }
            .img2{
                grid-row:3 / span 2;
                grid-column:2
            }
            .img:hover{
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                transform: scale(2);
                z-index: 2;
            }
            .img2:hover {
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                transform: scale(2);
                z-index: 2;
            }

            .container div.skills{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: space-evenly;
            }

            .skill1{
                height: 80px;
                width: 80px;
                transition-property: all;
                transition-duration: 1s;
            }

            .skill2{
                height: 80px;
                width: 80px;
                transition-property: all;
                transition-duration: 1s;
            }

            .skill3{
                height: 80px;
                width: 80px;
                transition-property: all;
                transition-duration: 1s;
            }

            .skill1:hover{
                height: 100px;
                width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .skill2:hover{
                height: 100px;
                width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .skill3:hover{
                height: 100px;
                width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

        .container div.footer {
            display: flex;
            justify-content: center;
            align-items: center;
            outline-color: #1F4529;
            outline-width: 5px;
            outline-style: solid;
            z-index: 2;
            gap: 10px;
            grid-area: footer;
            position: fixed;
            width: 100%;
            bottom: 0;
            height: 80px;
            text-align: center;
        }

        /* .container div.menuButton{
            display: block;
            position: absolute;
            top: 20px;
            display: none;
        } */

        .container div.downloadButton{
            position: fixed;
            padding: 15px 25px;
            top: 500px;
            border-radius: 6px;
            box-shadow: 10px 10px 5px lightblue;
            background-color: pink;
        }

        .downloadbutton:hover {
            background-color: lightpink;
            box-shadow: 12px 12px 6px lightblue;
        }


        

@media (max-width: 600px){
    .container {
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
    }
    .profile-picture{
        width: 340.7px;
        height: 511.0px;
    }

    .summary-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    font-size: large;
    }
    
    .profile-picture{
    grid-row:1 /span 2;
    grid-column:2;
    align-content: end;
    }

    .about-me-video{
    grid-row:2;
    grid-column:1 /span 2;
    }

    .menuButton{
        display: block;
        position: absolute;
        top: 20px;
    }

    .dropdownContent{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .downloadbutton{
        position: fixed;
        top: 65.5%;
        right: 30px;
        background-color: pink;
        box-shadow: 10px 10px 5px lightblue;
  
    }
}

@media (min-width: 600px) {
    .menuButton{
        display: none;
    }
    .profile-picture{
        min-width: 340.7px;
       
        height: auto;
    }

    .container .downloadbutton{
    position: absolute;
    justify-content: center;
    width : 75px;
    top: 20px;
    right: 30px;
    background-color: pink;
    box-shadow: 10px 10px 5px lightblue;
    transition: all 0.3s ease;
    }

    .downloadbutton:hover {
    background-color: lightpink;
    box-shadow: 12px 12px 6px lightblue;

    }
}



